extends layout

block content
  h1= title
  p Each boat has the attributes Type, Width, Height, and Length.

  -
    let items = results

  .container-fluid
    .row
      each boat in items
        .col-sm-2
          div.card(style="padding: 1em; margin: 1em; border: 1px solid #ddd")
            h2= boat.Type
            p Width: #{boat.width} meters
            p Height: #{boat.height} meters
            p Length: #{boat.length} meters
