extends layout

block content
    h1= title

    - let boatid = toShow._id
    - let boat_Type = toShow.Type
    - let boatwidth = toShow.width
    - let boatheight = toShow.height
    - let boatlength = toShow.length

    div
        div.row
            div(class='boatAttr mr-3') boat ID is:
            div #{boatid}
        div.row
            div(class='boatAttr mr-3') boat Type is:
            div #{boat_Type}
        div.row
            div(class='boatAttr mr-3') boat width is:
            div #{boatwidth}
        div.row
            div(class='boatAttr mr-3') boat height is:
            div #{boatheight}
        div.row
            div(class='boatAttr mr-3') boat length is:
            div #{boatlength}