extends layout

block content
  h1= title
  p Each boat has the attributes Type, Width, Height, and Length.

  button.btn(class="btn-primary ml-1", onclick= `dispatch('/boats/create')` ) New

  - let items = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch('/boats/update?id=${item._id}')`
        div(class="row-sm-2", class="m-1") Boat Specs: 
          div(class="row-sm-2", class="m-1") Type: #{item.Type}
          div(class="row-sm-2", class="m-1") Width: #{item.width} 
          div(class="row-sm-2", class="m-1") Height: #{item.height} 
          div(class="row-sm-2", class="m-1") Length: #{item.length}
          button.btn(class="btn-primary ml-1", onclick=destination) Update

          button.btn(class="btn-primary ml-1", onclick=`dispatch('/boats/detail/?id=${item._id}')`) View Details

          button.btn(class="btn-danger ml-1", onclick=`dispatch('/boats/delete/?id=${item._id}')`) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }
