extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let boatid = toShow._id
        - let boatType = toShow.Type
        - let boatWidth = toShow.width
        - let boatHeight = toShow.height
        - let boatLength = toShow.length
        - let actionid = "/boats/" + boatid

        div(class="container mt-4 p-3 border rounded shadow-sm bg-light")
            h2 Boat Details
            div.row.mb-2
                div(class='boatAttr font-weight-bold mr-3') Boat ID:
                div #{boatid}
            div.row.mb-2
                div(class='boatAttr font-weight-bold mr-3') Boat Type:
                div #{boatType}
            div.row.mb-2
                div(class='boatAttr font-weight-bold mr-3') Boat Width:
                div #{boatWidth}
            div.row.mb-2
                div(class='boatAttr font-weight-bold mr-3') Boat Height:
                div #{boatHeight}
            div.row.mb-2
                div(class='boatAttr font-weight-bold mr-3') Boat Length:
                div #{boatLength}

        div(class="mt-4 text-center")
            button(class="btn btn-danger mx-2 px-4" onclick="deleteOnid()") Delete
            button(class="btn btn-secondary mx-2 px-4" onclick="cancel()") Cancel

    script.
        function cancel() {
            // Redirect back to the boat collection page
            window.location.href = '/boats';
        }

    script.
        function deleteOnid() {
            console.log("Starting delete");
            // Perform the DELETE request
            fetch(actionid, {
                method: 'DELETE' // DELETE does not require a body
            }).then((resp) => {
                return resp.json(); // Handle the response
            }).then((body) => {
                alert("Delete succeeded");
                window.location.href = '/boats';
            }).catch((error) => {
                alert("Delete failed: " + error);
            });
        }
